* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: hsl(185, 75%, 39%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: hsl(0, 0%, 100%);
    width: 350px;
    border-radius: 15px;
    overflow: hidden;
}

.card header {
    width: 100%;
    height: 150px;
}

.card header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .profile {
    text-align: center;
    padding: 20px;
}

.card .profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid hsl(0, 0%, 100%);
    margin-top: -50px;
}

.card .profile p:nth-child(2) {
    font-weight: 700;
    font-size: 18px;
}

.card .profile p:nth-child(2) span {
    color: hsl(227, 10%, 46%);
    font-weight: 400;
}

.card .profile p:last-child {
    color: hsl(0, 0%, 59%);
    font-size: 14px;
}

.card hr {
    border: 1px solid hsl(0, 0%, 90%);
}

.card footer {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.card footer div p:first-child {
    font-weight: 700;
    font-size: 18px;
}

.card footer div p:last-child {
    color: hsl(0, 0%, 59%);
    font-size: 14px;
}

